extends layout

block content
  .index
    h1 VinmonopoletDiff
    h2 Sjekk lagerendringer hos ditt lokale ølpolet.
    .stores
      each storeKey in beerStores
        - const store = AVAILABLE_STORES[storeKey];
        a.store(href=`/diff/${storeKey}`)= store.storeName
          if recentUpdates[storeKey]
            - const diff = recentUpdates[storeKey]
            if diff.added.length > 0
              .recently-added= diff.added.length
            if diff.removed.length > 0
              .recently-removed= diff.removed.length
