extends layout

block content
  .index
    h1 VinmonopoletDiff
    h3(style="color:red; text-transform:none; font-size:1em; font-style: normal") På grunn av oppdateringer i systemet til Vinmonopolet, blir det mindre nøyaktighet i VinmonopoletDiff framover. De har blitt mye strenger  med hvor ofte man kan lese inn data, og vpdiff har blitt blokkert helt i flere tilfeller. Lagerstatus i butikkene kan ikke lenger dobbeltsjekkes, sånn at når en vare markeres som "utgått" i systemet til Vinmonopolet så forsvinner den (selv om den er fortsatt på lager i butikken)
    h2 Sjekk lagerendringer hos ditt lokale ølpolet.
    h3 Spesialbutikker for øl
    .stores
      each storeKey in beerStores
        - const store = AVAILABLE_STORES[storeKey];
        a.store(href=`/diff/${storeKey}`)= store.storeName
    hr
    h3 Andre butikker
    .stores
      each storeKey in otherStores
        - const store = AVAILABLE_STORES[storeKey];
        a.store(href=`/diff/${storeKey}`)= store.storeName
