doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= locals.siteTitle + (locals.currentPageTitle ? " - " + currentPageTitle : "")
    link(type="text/css", rel="stylesheet", href="https://fonts.googleapis.com/css?family=Hind:400,700")
    link(type="text/css", rel="stylesheet", href="/styles/global.css")
    block styles
  body
    .container
      block content
    block scripts
